/* margem 0 */
* {
    margin: 0;
    padding: 0;
}



.fonte{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(124, 196, 52);
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.9) ;
    text-align:center;
    height: 30px;
    height: 30px;
    color: azure;
}

.link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0 0 1486px;
    background-color: darkgreen;
    color: azure;

}

.oiii{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    margin-left: 40px;
    margin-bottom: 10px;
}

.imagem{
    margin-left: 500px;
}

.lista1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}

/*  Página de login ------------------------------------ */

.formularios{
    background-color: rgb(124, 196, 52);
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 200px;
    border-radius: 7px;
}

.ola{
    background-color: rgb(124, 196, 52);
    color: azure;
    text-align: center;
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.9);
}

.input-nome{
    height: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    opacity: 70%;
}


.datadenascimento{
    height: 20px;
    width: 180px;
    margin-left: 60px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-right: 2px;
    cursor: pointer;
}

.selecao{
    appearance: none;
    margin-left: 60px;
    width: 200px;
    padding: 4px;
    font-size: 16px;
    color: #3e3e3e;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8px);
}

.button{
    background-color: greenyellow;
    cursor: pointer;
    height: 20px;
    width: 70px;
    margin-left: 90px;
    font-size: medium;
    border-radius: 5px;
}
.button:hover{
    background-color: rgb(45, 96, 179);
}