<h1 class="titulo">Seja bem-vindo ao FinanSESI</h1>
<h3>Aprendendo programação e finanças</h3>

<div class="cardsjuros">
    <a href="/juros_simples">
        <div class="card">
            <p>Juros simples</p>
            <img src="../public/img/juros-simples.webp" alt="">
        </div>
    </a>
    <a href="/juros_compostos">
        <div class="card">
            <p>Juros compostos</p>
            <img src="../public/img/juros-compostos.jpg" alt="">
        </div>
    </a>
    
</div>

