<strong>Projeto desenvolvido por</strong>
<p>Douglas Camata de Araujo</p>
<hr>
<p>Este projeto foi desenvolvido com o intuito de criar um sistema 
    para aprendermos programação e finanças </p>
<hr>
<p>Desenvolvido em sala de aula em parceria SESI / SENAI</p>