/* ctrl + espaço para aparecer a caixinha de sugestões de codigos */
:root{
    /* criando uma variável chamada "cor-vermelho-ifood" */
    --cor-verde-starbucks: #099117;
    --cor-cinza-texto: #575757;
    --cor-cinza-borda: #e2e2e2; 
    --cor-fundo: #f7f7f7;
}

* {
    /* Zerando as propriedades do documento */
    margin: 0;
    padding: 0;
}

body{
    /* Apliquei em todo o documento, fonte, cor e cor-fundo */
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-cinza-texto);
}

.cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);
}

.logo{
    height: 6vh;
}

.container{
    display: flex;
    /* Propriedade define a largura maxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


/* Aplicando estilização na tag nav -------------- */
.navegacao{
    display: flex;
    align-items: center;
    gap: 10px;
}

.item{
    /* removendo decoração da tag a */
    text-decoration: none;

    /* aplicando negrito! */
    font-weight: 600;

    font-size: small;
    padding: 8px 6px;
    border-bottom: 3px solid transparent;
    color: var(--cor-cinza-texto);
    transition: all 0.25s ease;
}

/* "se clicar ou passar o mouse em cima" */
/* neste caso focus mantém as propriedades após o clique */
.item:focus,
.item:hover{
    color: var(--cor-verde-starbucks);
    border-bottom-color: var(--cor-verde-starbucks);
}

/* ---------------------------------------------- */

.menu-direita{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.bloco{
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 35px;
}

.bloco > img{
    height: 58vh;
}

.texto-imagem{
    border: 1px solid ;
}