*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: flex;
    flex-direction: row;

}


.banner {
    background-image: url(../BMW/img/bmw-carx3.webp);
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    
    width: 100%;
    height: 80vh;
    /* Corrigido: A propriedade 'border' na forma abreviada requer uma cor. Assumimos preto (#000). */
    border: 1px solid #000;
    
    /* Corrigido: O rgba() na box-shadow também não aceita códigos hexadecimais como #000. */
    box-shadow: 10px 0 2px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
}