<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanSESI</title>
</head>
<body>
    <header>
        <div class="logo">
            <!-- Se quiser, coloque uma imagem em /public/img/logo.png -->
             <img src="/finanSESI/public/img/logo.png" alt="Logo">
             FinanSESI
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
        </nav>
    </header>
    <main>
        <!-- Aqui entram as páginas renderizadas -->
         <%- body %>
    </main>
    <footer>
        <!-- &copy; é o símbolo de copyright -->
        &copy; 2025 SESI / SENAI
    </footer>

</body>
</html>